{{ define "main" }}

{{ $pages := where .Site.RegularPages "Section" .Section }}
{{ $pages = $pages.ByDate.Reverse }}
{{ $paginator := .Paginate $pages }}

<div class="py-2 flex flex-col gap-1">
  <h1 class="title-small">
    {{ if .Params.header }}
      {{ .Params.header }}
    {{ else }}
      {{ .Title }}
    {{ end }}
  </h1>
</div>

<section class="post-grid pb-10">
  {{ range $paginator.Pages }}
    {{ partial "list/default" . }}
  {{ end }}
</section>

{{ partial "list/pagination" . }}

{{ end }}
